/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}
body {
  margin: 1rem;
  padding: 0;
}

a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}

/* Dodatkowe stylowanie dla Homepage Lab-2 */
/*wyśrodkowanie poziome nawigacji*/
nav {
  text-align: center;
}

h1.centered {
  text-align: center;
}
