/*wyśrodkowanie poziome nawigacji*/
nav {
  text-align: center;
}

h1.centered {
  text-align: center;
}

/*stylowanie odnośników do pod-stron Lab1*/
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a.subpage {
  display: block;
  padding: 10px 10px;
  box-shadow: 0 0 15px black; /* cień boxa: offset poziomo-offset pionowo-szerokosc rozmycia-kolor */
  border-radius: 10px;
  width: 100px;
  margin: 20px;
  background-color: #e4e3e3;
  color: black !important;
}

/*-------------*/
/*Strona LOGIN*/

/*główny kontener logowania*/
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* pełna wysokość okna przeglądarki */
  margin: 0; /*brak marginesu body*/
}

.login-box {
  display: flex;
  flex-direction: column; /* elementy jeden pod drugim */
  box-shadow: 0 0 15px #888888; /* cień boxa: offset poziomo-offset pionowo-szerokosc rozmycia-kolor */
  padding: 30px 30px; /* odstęp miedzy boxem a zawartością: pionowo-poziomo */
  border-radius: 10px;
  min-width: 400px; /* minimalna szerokość boxa */
}

/*nagłówki okna logowania*/
h1.login-title {
  margin-top: 0;
}

h4.subtitle {
  font-weight: 300;
}

/* Kontrolki w formularzu logowania */
.form-item {
  margin-bottom: 25px;
}

.form-item label {
  display: block;
  margin-bottom: 12px;
  font-weight: 400;
}

.form-item input {
  width: 100%;
  box-sizing: border-box; /*zapobiega wychodzeniu elementow poza 100% szerokosci boxa*/
  padding: 10px;
  border: 2px solid #888888;
  border-radius: 5px;
  transition: border-color 0.5s, box shadow 0.5s;
  &:focus {
    outline: none;
    border-color: #41b2ce;
    box-shadow: 0 0 0 3px #41b2ce;
  }
}

/* Przycisk submit */
input[type='submit'] {
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 16px;
  color: white;
  background-color: #41b2ce !important;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    background-color: #0a688d !important;
  }
}

/*-------------*/
/*Strona UWAGI*/
header > h1 {
  text-align: center;
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 20px;
  box-sizing: border-box;
}

/*wyśrodkowanie obrazków w main*/
main img {
  display: block;
  margin: 0 auto;
}
