html {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 1rem;
  padding: 0;
}

nav {
  text-align: center; /* wyrównanie tekstu do środka w poziomie */
}

a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}

/* KARTA PRODUKTU */
.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 1.5rem;

  width: 100%;
  max-width: 880px;

  background-color: #ebebeb;
  border-radius: 15px;
  box-sizing: border-box;
  overflow: hidden;

  /* Domyślnie kolor niebieski na start*/
  --leading-color: #0157b3;
  --leading-color-stressed: #043972;
}

.product-image-section {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 500px;
  max-width: 500px;
  background-color: white;
  border-radius: 8px;
}

.img-frame {
  position: relative;
  aspect-ratio: 1 / 1;
  border: 3px solid var(--leading-color);
  border-radius: 8px;
  overflow: hidden;
  transition: border-color 0.3s ease;
}

.product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

/* Wersja bez animacji */
/* .product-card:has(#blue:checked) .product-image[product-color='blue'],
.product-card:has(#red:checked) .product-image[product-color='red'],
.product-card:has(#green:checked) .product-image[product-color='green'],
.product-card:has(#yellow:checked) .product-image[product-color='yellow'] {
  opacity: 1;
} */

/* Wersja z animacją */
/* WYBRANY kolor – wjeżdża z lewej do środka */
.product-card:has(#blue:checked) .product-image[product-color='blue'],
.product-card:has(#red:checked) .product-image[product-color='red'],
.product-card:has(#green:checked) .product-image[product-color='green'],
.product-card:has(#yellow:checked) .product-image[product-color='yellow'] {
  opacity: 1;
  transform: translateX(0); /* środek ramki */
}

/* POZOSTAŁE kolory – wyjeżdżają w prawo */
.product-card:has(#blue:checked) .product-image:not([product-color='blue']),
.product-card:has(#red:checked) .product-image:not([product-color='red']),
.product-card:has(#green:checked) .product-image:not([product-color='green']),
.product-card:has(#yellow:checked)
  .product-image:not([product-color='yellow']) {
  opacity: 0;
  transform: translateX(100%); /* poza ramką, w prawo */
}

.product-card:has(#red:checked) {
  --leading-color: #dc3545;
  --leading-color-stressed: #a71d2a;
}
.product-card:has(#green:checked) {
  --leading-color: #28a745;
  --leading-color-stressed: #1e7e34;
}
.product-card:has(#yellow:checked) {
  --leading-color: #ffc107;
  --leading-color-stressed: #d39e00;
}

.product-details {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 100%;
}
.product-header h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.promo {
  background-color: var(--leading-color);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem 0.6rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.product-description {
  line-height: 1.6;
  margin: 0 0 1.5rem 0;
}

.product-options {
  border: none;
  padding: 0;
  margin: 0 0 2rem 0;
}
.product-options legend {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.product-options div {
  display: flex;
  gap: 0.75rem;
}
.product-options input[type='radio'] {
  display: none;
}

.color-label {
  width: 30px;
  height: 30px;
  margin: 4px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.color-label:hover {
  transform: scale(1.3);
}

.color-label.blue {
  background-color: #0157b3; /* te kolory muszą być stałe */
  border: 2px solid #0157b3;
  box-shadow: 0 0 0 2px black;
}
.color-label.red {
  background-color: #dc3545;
  border: 2px solid #dc3545;
  box-shadow: 0 0 0 2px black;
}
.color-label.green {
  background-color: #28a745;
  border: 2px solid #28a745;
  box-shadow: 0 0 0 2px black;
}
.color-label.yellow {
  background-color: #ffc107;
  border: 2px solid #ffc107;
  box-shadow: 0 0 0 2px black;
}

#color-options input[type='radio']:checked + label {
  border-color: white;
  box-shadow: 0 0 0 3px white, 0 0 0 5px black;
}

/* WYBÓR ROZMIARU BEZ ANIMACJI*/
/* #size-options label {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.3s ease, transform 0.3s ease;
} */

/* WYBÓR ROZMIARU Z ANIMACJĄ*/
#size-options label {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;

  position: relative;
  z-index: 2;
}

#size-options div {
  position: relative;
}

#size-options div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 48px; /* rozmiar animowanego tła jest z rozmysłem ustawiony jako między: 40px i 1.3x 40px(hover) żeby przyzwoicie to wyglądało na mój gust:) */
  height: 48px;
  background-color: var(--leading-color);
  border-radius: 6px;
  z-index: 1;

  /* zamiast translateX – tylko pion, start z 0 */
  transform: translateY(0);

  /* animujemy left (ruch w poziomie) + kolor */
  transition: left 0.3s cubic-bezier(0.5, -1.2, 0.5, 1.2),
    background-color 0.3s ease;
}

#size-options div:has(#size-small:checked)::before {
  left: 0;
  animation: jump-s 0.5s ease-out;
}
#size-options div:has(#size-medium:checked)::before {
  left: calc(40px + 1rem);
  animation: jump-m 0.5s ease-out;
}
#size-options div:has(#size-large:checked)::before {
  left: calc(2 * (40px + 1rem));
  animation: jump-l 0.5s ease-out;
}
#size-options div:has(#size-xlarge:checked)::before {
  left: calc(3 * (40px + 1rem));
  animation: jump-xl 0.5s ease-out;
}

@keyframes jump-s {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes jump-m {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes jump-l {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes jump-xl {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
#size-options label:hover {
  border-color: var(--leading-color);
  transform: scale(1.3);
}

#size-options input[type='radio']:checked + label {
  background-color: var(--leading-color);
  border-color: var(--leading-color);
  color: white;
}

.price-text {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin: auto 0 1rem 0;
}

.buy-btn {
  width: 60%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: var(--leading-color);
  border: 3px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.buy-btn:hover {
  background-color: var(--leading-color-stressed);
  transform: scale(1.2) translateY(-8px);
}
