html {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 1rem;
  padding: 0;
}

nav {
  text-align: center; /* wyrównanie tekstu do środka w poziomie */
}

a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}

/* Nagłówek i stopka */

.page-header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  text-align: center;
}

.page-header h1 {
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

.page-header p {
  color: #6d727a;
}

/* GALERIA – mobile first */

.gallery {
  max-width: 1200px;
  margin: 0 auto 2rem;
  padding: 0 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr; /* < 1200px: 1 kolumna */
  gap: 1.5rem;
}

/* pojedynczy element */

.gallery-item {
  background: #111827;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* efekt po najechaniu */
.gallery-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 35px red;
}

.gallery-item picture,
.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px 16px 0 0; /* zaokrąglone rogi obrazka */
}

/* podpis */
.gallery-item figcaption {
  padding: 0.75rem 1rem 1rem;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  background: #020617;
  color: white;
  border-radius: 0 0 16px 16px;
}

.gallery-item picture {
  position: relative;
}

.gallery-item picture::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 16px 16px 0 0;
  transition: box-shadow 0.2s ease, opacity 0.2s ease;
}

.gallery-item:hover picture::after {
  opacity: 1;
  box-shadow: 0 0 0 3px lightskyblue;
}

/* --- SIATKA wg tabeli (kolumny) --- */

/* od 1200px: 2 kolumny */
@media (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
