/* Reset stylów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}
main,
aside {
  h1,
  h2,
  h3,
  p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'nav'
    'main'
    'aside'
    'footer';
  margin: 0 auto;
  background: transparent;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  background: #f5a623;
  color: white;
}

header .logo {
  padding: 0.25rem 0.75rem;
  background: white;
  color: #f5a623;
  border-radius: 3px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

header .logo::before {
  content: 'Logo';
  margin-right: 0.5rem;
  font-size: 0.9rem;
  color: black;
}

header h1 {
  font-size: 2rem;
}

/* NAV – mobilnie wyśrodkowane */
nav {
  grid-area: nav;
  background: #1e88e5;
  padding: 0.75rem 1rem;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 0.5rem;
  font-weight: 700;
}

nav a:hover {
  text-decoration: underline;
}

/* MAIN */
main {
  grid-area: main;
  padding: 1.5rem;
  background: white;
}

/* ASIDE – pod treścią na mobile */
aside {
  grid-area: aside;
  padding: 1.5rem;
  background: #d8f7e7;
}

aside h3 {
  margin-bottom: 1rem;
}

aside div {
  margin-top: 1rem;
  text-align: center;
}

aside span {
  font-size: 4rem;
  margin: 0 0.5rem;
}

/* stopka */
footer {
  grid-area: footer;
  background: #26a65b;
  color: white;
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
}

/* --- Wersja szeroka (od 1024px) --- */

@media (min-width: 1024px) {
  .container {
    /* dwa słupki: treść + panel boczny */
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      'header header'
      'nav nav'
      'main aside'
      'footer footer';
    max-width: 1200px; /* maksymalna szerokość układu - potem dodają się marginesy boczne*/
  }

  /* menu wyrównane do lewej w szerokiej wersji */
  nav {
    text-align: left;
    padding-left: 1.5rem;
  }

  nav a:first-child {
    margin-left: 1.5rem;
  }

  main {
    padding: 2rem;
  }

  aside {
    padding: 2rem 2rem 2rem 1.5rem;
  }

  /* ikony w panelu bocznym – po 2 w rzędzie */
  aside div {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.2rem;
    justify-items: center;
  }

  aside span {
    margin: 0;
    display: block;
    font-size: 4rem;
  }
}
